PORT=5000
MONGO_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.xxxxx.mongodb.net/luxewatches
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRE=30d
NODE_ENV=production
CLIENT_URL=https://your-vercel-frontend-url.vercel.app
